.createCourseForm {
    display: flex;
    justify-content: center;
}
.createCourseForm form {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 70, 120);
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
.createCourseForm label{
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    margin: 0;
}
.createCourseForm input {
    box-sizing: border-box;
    margin: 5px 0 20px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.createCourseForm select{
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid;
}
.createCourseForm .listWeek-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.createCourseForm .listWeek {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}
.createCourseForm .listWeek .listWeek-select{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}
.createCourseForm .listWeek .week:hover {
    background-color: rgb(1, 125, 213);
}
.createCourseForm .confirm-button{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(0, 70, 120);
    background-color: rgb(0, 70, 120);
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.9);
}
.createCourseForm button:hover{
    background-color: rgb(1, 125, 213);
}
.createCourseForm .notiList{
    display: flex;
    flex-direction: column;
}