.myCourses{
    min-height: 80vh;
}
.card-around {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-container {
    width: 64rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color: white;
    height: 10rem;
}
.card-container:hover {
    background-color: lightblue;
}
.card-img {
    width: 100%;
    height: 72%;
    border-radius: 1rem 1rem 0 0;
}
.card-title {
    margin: 0.5rem 5%;
    color: black;
}
