.userlist-layout {
    justify-content: center;
    max-width: 1000px;
    color:black;
    min-height: 60vh;
}

.userlist-layout h1 {
    margin: 0 0 10px 0;
    text-align: center;
}

.userlist-layout .userlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 30px;
}

.userlist-layout .userlist .userCard {
    display: flex;
    width: 400px;
    border: 2px solid rgb(0, 70, 120);
    border-radius: 10px;
    background-color: aliceblue;
    align-items: center;
    padding: 10px;
}
.userlist-layout .userlist .userCard a{
    text-decoration: none;
    color: black;
}
.userlist-layout button {
    font-size: 18px;
    padding: 10px;
    border: 2px solid rgb(0, 70, 120);
    border-radius: 10px;
    background-color: rgb(0, 70, 120);
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}

.userlist-layout button:hover {
    background-color: rgb(1, 125, 213);
}