.courseDoc {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.courseDoc .title{
    margin-top: 30px;
}
.courseDoc .courseData {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    min-height: 60vh;
}
.courseDoc .courseData .courseSection {
    width: 90%;
    min-height: 60px;
    border: 2px solid rgb(0, 70, 120);
    border-radius: 10px;
    background-color: aliceblue;
    padding: 10px;
    align-items: center;
    align-content: center;
}
.courseDoc .courseData .courseSection .sectionHeader{
    display: flex;
    justify-content: space-between;
}
.courseDoc .courseData .courseSection .sectionButton{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.courseDoc .courseData .courseSection .sectionButton button{
    width: 100px;
    align-items: center;
}
.courseDoc .courseData .courseSection .sectionHeader > .sectionTitle{
    font-size: 2rem;
}
.courseDoc .courseData .courseSection > .sectionDescription{
    display: flex;
    flex-direction: column;
}
.courseDoc .courseData .courseSection .editForm{
    justify-content: center;
}
.courseDoc .courseData .courseSection .courseEditForm{
    width: 50%;
    border: 2px solid rgb(0, 70, 120);
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.courseDoc .courseData .courseSection .courseEditForm input{
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}
.courseDoc .courseData .courseSection .courseEditForm .sectionDescription input{
    width: 50%;
}
.courseDoc .courseData .courseSection .addDocumentForm{
    justify-content: center;
    text-align: center;
}
.courseDoc .courseData .courseSection .deleteDocument{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.courseDoc .courseData .courseSection .deleteDocument .confirmButton{
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.courseDoc .courseData .courseSection .deleteDocument button{
    border-radius: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.courseDoc .createSection, .updateMark {
    align-self: center;
    width: 80%;
    padding: 10px;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 70, 120);
    background-color: rgb(0, 70, 120);
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}
.courseDoc .createSection:hover, .updateMark:hover {
    background-color: rgb(1, 125, 213);
}
.courseDoc .markTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.courseDoc .markTable .updateButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.courseDoc .markTable table {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: aliceblue;
}
.courseDoc .markTable .updateMarkButton {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 70, 120);
    background-color: rgb(0, 70, 120);
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
}
.courseDoc .markTable .updateMarkButton:hover {
    background-color: rgb(1, 125, 213);
}
.waitingPage{
    min-height: 80vh;
}