.footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
}
.footer .information{
    background-color: aliceblue;
    color: black;
    display: flex;
    font-size: 1rem;
    padding: 1% 0 1% 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 16%;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 0;
}

.footer .about .university {
    display: flex;
    justify-content: center;
}

.footer .about .university .logo {
    height: 80px;
}

.footer .about .university .university-name {
    align-content: center;
}

.footer .about .campus {
    padding: 5px 0 5px 50px;
}

.footer .support {
    margin: 0;
    padding: 1rem;
    width: 18%;
    justify-content: center;
    align-items: center;
}

.footer .social-media {
    padding: 1rem;
    text-align: center;
    display: block;
}

.footer .social-media ul{
    gap:1rem;
    padding: 10px 0;
    list-style: none;
    display: flex;
}

.footer .social-media li{
    margin: 0;
    display: flex;
    align-items: center;
}

.footer .social-media .logo {
    margin: 0;
    width: 50px;
    border-radius: 16px;
}

.copyright {
    height: 2%;
    color: black;
    font-size: 1rem;
    padding: 10px 0;
    display: flex;
    background-color: gray;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}
.footer .copyright p {
    text-align: center;
}