.root-layout h2 {
    text-align: center;
    color: rgb(31, 35, 110);
    font-size: 18px;
    font-weight: 700;
    text-underline-position: below;
    padding-top: 10px;
    padding-bottom: 60px;
    margin: 0px 8px;
    box-sizing: border-box;
    line-height: 22px;
}

.root-layout .root-nav {
    width: 100%;
    background-color: rgb(0, 70, 120);
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

.root-layout .root-nav .logo {
    width: 50px;
    padding: .5rem;
}

.root-layout .left-nav {
    display: flex;
    justify-content: flex-start;
}

.root-layout .root-nav a:hover {
    background-color: rgb(0, 108, 184);
}

.root-layout .root-nav .left-nav a.active {
    background-color: rgb(0, 47, 81);
}
.root-layout .root-nav a {
    height: 100%;
    display: flex;
    color: rgba(240, 240, 240, 0.900);
    text-decoration: none;
    font-size: 1.5rem;
    align-items: center;
    padding: 0 1rem;
}
.root-layout .right-nav{
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    display: flex;
}